* {
    margin: 0;
    padding: 0;
    font-family: "Saira", Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
}
body,
.calc-buttons,
#buttons-left-top,
#buttons-right {
    display: flex;
}
body {
    justify-content: center;
    align-items: center;
}
#calc-container {
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    background: rgb(32, 48, 184);
}
#value {
    text-align: end;
    background: rgb(200, 200, 200);
    padding: 3px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    border: 1px solid rgb(0, 0, 0);
}
.calc-buttons,
#buttons-left-top,
#numbers,
#buttons-right {
    gap: 5px;
}
#buttons-left-top button {
    flex: 1;
}
#numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5px;
}
#buttons-right {
    flex-direction: column;
}
#equals {
    background: rgb(255, 130, 14);
    color: rgb(0, 0, 0);
}
#equals:hover {
    background: rgb(255, 170, 91);
}
button {
    font-size: 30px;
    padding: 10px 25px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
button:hover {
    background: rgb(100, 100, 100);
}